{% extends 'base.html'%}




{% block content %}
<div class="card mb-4">
  <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      বিচ্ছিন্নকৃত গ্রাহকের তথ্য
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">ক্রমিক নং</th>
                  <th scope="col">মাস</th>
                  <th scope="col">বছর</th>
                  <th scope="col">পবিসের কোড</th>
                  <th scope="col">পবিসের নাম</th>
                  <th scope="col">আবাসিক</th>
                  <th scope="col">শিল্প</th>
                  <th scope="col">বানিজ্যিক</th>
                  <th scope="col">সেচ</th>
                  <th scope="col">সরকারী প্রতিষ্ঠান </th>
                  <th scope="col">অন্যান্য</th>
                  <th scope="col">মোট</th>
                  <th scope="col">
                    বকেয়ার কারনে গৃহীত কার্যব্যবস্থা(লাল নোটিশ, উকিল নোটিশ, মামলা/জিডি ইত্যাদি</th>
                  
          
                </tr>
              </thead>

              
              <tbody>
                {% for my_data in my_data%}
                {% for i in user_pbs_management_info%}
              <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ my_data.month }}</td>
                <td>{{ my_data.year }}</td>
                <th scope="row">{{ my_data.pbs_code }}</th>
                <td>{{ i.pbs_name }}</td>
                <td>{{ my_data.domestic }}</td>
                <td>{{ my_data.industry }}</td>
                <td>{{ my_data.commercial }}</td>
                <td>{{ my_data.irrigation }}</td>
                <td>{{ my_data.govt_institute }}</td>
                <td>{{ my_data.other }}</td>
                <td>{{ my_data.total_amount }}</td>
                <td>{{ my_data.taken_action }}</td>
                
                
              </tr>
              {% endfor %}
              {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>

{% endblock %}