{% extends 'base.html'%}


{% block contentttttttttttt %}



<div class="container">
    <div class="cow">
        <table class="table table-striped table-bordered" style="margin-top: 10px;">
            <thead class="thead-dark">
              <tr>
                <th scope="col">S/N</th>
                <th scope="col">Month</th>
                <th scope="col">Year</th>
                <th scope="col">PBS Code</th>
                <th scope="col">PBS Name</th>
                <th scope="col">Meeting Nos</th>
                <th scope="col">previous_month_unsolve_objection</th>
                <th scope="col">current_month_unsolve_objection</th>
                <th scope="col">total_objection </th>
                <th scope="col">current_month_solve_objection </th>
                <th scope="col">unsolve_objection </th>

                
                <th scope="col">Remarks</th>
    
                
        
              </tr>
            </thead>
            
            <tbody>
                {% for my_data in my_data%}
                {% for i in user_pbs_management_info%}
              <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ my_data.month }}</td>
                <td>{{ my_data.year }}</td>
                <th scope="row">{{ my_data.pbs_code }}</th>
                <td>{{ i.pbs_name }}</td>
                <td>{{ my_data.consumer_meeting_nos }}</td>
                <td>{{ my_data.previous_month_unsolve_objection }}</td>
                <td>{{ my_data.current_month_unsolve_objection }}</td>
                <td>{{ my_data.total_objection }}</td>
                <td>{{ my_data.current_month_solve_objection }}</td>
                <td>{{ my_data.unsolve_objection }}</td>
                <td>{{ my_data.remarks }}</td>
                
                
              </tr>
              {% endfor %}
              {% endfor %}
        
            </tbody>
        </table>
    </div>
</div>




{% block content %}
<div class="card mb-4">
  <div class="card-header">
      <i class="fas fa-table mr-1"></i>
      মাসিক সমন্বয় সভা সংক্রান্ত তথ্য়
  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th scope="col">ক্রমিক নং</th>
                  <th scope="col">মাস</th>
                  <th scope="col">বছর</th>
                  <th scope="col">পবিসের কোড</th>
                  <th scope="col">পবিসের নাম</th>
                  <th scope="col">গ্রহক সমাবেশ </th>
                  <th scope="col">পূর্ববর্তী মাস সমূহের অনিস্পন্ন আপত্তি </th>
                  <th scope="col">বিবেচ্য মাসের অনিস্পন্ন আপত্তি </th>
                  <th scope="col">মোট আপত্তি </th>
                  <th scope="col">বিবেচ্য মাসের নিস্পত্তি</th>
                  <th scope="col">অনিস্পন্ন আপত্তি  </th>
  
                  
                  <th scope="col">মন্তব্য</th>
      
                  
          
                </tr>
              </thead>

              
              <tbody>
                {% for my_data in my_data%}
                {% for i in user_pbs_management_info%}
              <tr>
                <th>{{ forloop.counter }}</th>
                <td>{{ my_data.month }}</td>
                <td>{{ my_data.year }}</td>
                <th scope="row">{{ my_data.pbs_code }}</th>
                <td>{{ i.pbs_name }}</td>
                <td>{{ my_data.consumer_meeting_nos }}</td>
                <td>{{ my_data.previous_month_unsolve_objection }}</td>
                <td>{{ my_data.current_month_unsolve_objection }}</td>
                <td>{{ my_data.total_objection }}</td>
                <td>{{ my_data.current_month_solve_objection }}</td>
                <td>{{ my_data.unsolve_objection }}</td>
                <td>{{ my_data.remarks }}</td>
                
                
              </tr>
              {% endfor %}
              {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>

{% endblock %}





















{% endblock %}