
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-2">
        <div class="col-md-14 m-auto ">
            <h3>বিদ্যুৎ বিভাগের আওতাধীন সকল বিতরণসংস্থা /কোম্পানির নতুন বিদ্যুৎ সংযোগ প্রদানের ক্ষেত্রে অনলাইনে আবেদন নিষ্পত্তির তথ্য</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 m-auto ">
           
            
            <br>
            {% if message %}
            <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
              {% endif %}

            <form method="POST">
                {% csrf_token %}
                {{new_con_form.as_p}}
                
                <button type="submit" class="btn btn-dark">Submit</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}
