<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>


<div class="container mt-5">
    <div class="row ">
        <div class="col-md-4 m-auto">
            <div class="card rounded shadow shadow-sm">

                <div class="card-body">
                    <form action="{% url 'infoapp:forgot_password3'%}" method="POST" >
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="uname1">OTP</label>
                            <input type="text" class="form-control form-control-lg rounded-0" name="otp"  required="" placeholder="Enter Your OTP">
                            
                        </div>

                        <div>
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input">
                              <span class="custom-control-indicator"></span>

                              <button type="submit" class="btn btn-dark btn-lg float-right" id="btnLogin">Submit</button>
                            </label>
                           
                            
                        </div>
                        
                    </form>
                </div>
                <!--/card-block-->
            </div>
        </div>
    </div>
</div>











    <!--/container-->
</body>
</html>